<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.brich200.mobileideasportal" >

    <uses-sdk android:minSdkVersion="11" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="22" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="22" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MyActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".DisplayMessageActivity"
            android:label="View Ideas"
            android:parentActivityName=".MyActivity"
            android:windowSoftInputMode="adjustPan" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.brich200.mobileideasportal.MyActivity" />
        </activity>
        <activity
            android:name=".SubmitActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:label="@string/title_activity_submit"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".EditActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:label="EditActivity"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".CxInnovationMain"
            android:label="@string/title_activity_cx_innovation_main" >
        </activity>
        <activity
            android:name=".Directory"
            android:label="@string/title_activity_directory" >
        </activity>
        <activity
            android:name=".SuccessStoriesMain"
            android:label="@string/title_activity_success_stories_main" >
        </activity>
        <activity
            android:name=".Partners"
            android:label="@string/title_activity_partners" >
        </activity>
        <activity
            android:name=".Challenges"
            android:label="@string/title_activity_challenges" >
        </activity>
        <activity
            android:name=".Login"
            android:label="@string/title_activity_login">

        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name=".LabWeekDirectory"
            android:label="@string/title_activity_lab_week_directory" >
        </activity>
    </application>

</manifest>
